$color-primary: purple;
$color-primary-dark: rgba(128, 0, 128, 0.22);
$color-secondary: coral;
$color-secondary-dark: rgba(255, 127, 80, 0.15);
$color-secondary-light: #ea9f86;
$color-tertiary: darkred;
$color-cell-hovered: #ff9a6f;
$color-background: #0b0121;

$color-1mine: #240080;
$color-2mines: #805a00;
$color-5mines: #ff1300;
$color-6mines: rgba(30, 144, 147, 0.71);
$color-7mines: black;
$color-8mines: white;

$content-width-desktop: 30vw;
$content-width-tablet: 80vw;
$content-height-tablet: 80vh;
$content-width-mobile: 90vw;
$content-height-mobile: 95vh;

$desktop-screen-width: 991px;
$tablet-screen-width: 990px;
$mobile-screen-width: 414px;